In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40]
})

In [3]:
df.style.highlight_max()